# Logs
logs
*.log
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules
/coverage

# Distribution directories
/dist/bundle.js
/dist/bundle.js.LICENSE.txt
/dist/bundle.js.map

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

.DS_Store
/.idea
